.container {
    background-color: rgb(5, 5, 5);
    margin: 5%;
    border-radius: 5px;
    padding: 2%;
}


#dateOfGame {
    width: 30%;
}

#myTitle {
    color: rgb(241, 237, 237);
    text-align: center;
}

#search-box {
    background-color: #F5F5F5;
    padding: 2%;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}

#btn-search {
    margin: auto;
    /* I was trying to get this to be centered but I couldn't figure out how to, I 
    think the bootstrap is overriding it */
}

.score-card
{
    background-color: rgb(209, 16, 16);
    color: white;
    padding: 5%;
    text-align: center;
}

.score-card hr {
    border: solid 2px;
    border-radius: 5px;
    color:black;
}